site_name: mlopsg24
site_author: g24
docs_dir: source

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            separate_signature: true
            show_signature_annotations: true

nav:
  - Home: symbolic_link_to_readme.md
  - App entry point: entry_point.md
  - Preprocess: preprocess.md
  - Monitoring: monitoring.md
