name: "Ruff codestyle check and auto formatter"

on:
  push:
    branches: [ esben, main ]
  pull_request:
    branches: [ esben, main ]

jobs:
  ruff-should-fail:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        python-version: 3.12
        enable-cache: true

    - name: Install dependencies
      run: |
        uv sync --dev --locked

    - name: Ruff check
      run: uv run ruff check .


#NOTE: ruff is in configured in pyproject.toml to only do check on autosort
# of imports. In a more rigorous setup the rules should be expanded
    # - name: Ruff format
    #   run: uv run ruff format .
